[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
python-coveralls = "*"
twine = "*"

[packages]
aiohttp = "*"
